<div>
  <form #loginForm="ngForm">
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" class="form-control"
             required minlength="1" maxlength="24"
             name="name"
             #name="ngModel" [(ngModel)]="user.name">
    </div>
    <div class="form-group">
      <label for="name">password</label>
      <input type="password" class="form-control"
             required minlength="1" maxlength="24"
             name="password"
             #password="ngModel" [(ngModel)]="user.password">
    </div>
  </form>
</div>
